<div *ngIf="account">
  <div class="container">
    <div class="row">
      <h2 class="text-center" style="margin-top: 30px;">Account Details</h2>
      <div class="card-body">
        <label class="form-control"><h5>Customer Name : {{account.customerId}}</h5></label><br>
        <label class="form-control"><h5>Balance: {{account.balance}} </h5></label><br>
        </div>
        <div *ngIf="!account">
        <h2>No matching account found.</h2>
      </div>
      </div>
    </div>
    </div>



  <a routerLink="/allAccounts">Back to List</a>

